In [1]:
import pandas as pd

In [7]:
df=pd.read_excel('air_quality/cookphilipjan11.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [8]:
df.head()

,Hourly Averages Time Range: 01/01/2011 00:00 to 01/02/2011 00:00,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Initial Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Time,COOK AND PHILLIP WDR 1h average [°],COOK AND PHILLIP TEMP 1h average [°C],COOK AND PHILLIP WSP 1h average [m/s],COOK AND PHILLIP SO2 1h average [pphm],COOK AND PHILLIP NO 1h average [pphm],COOK AND PHILLIP NO2 1h average [pphm],COOK AND PHILLIP CO 1h average [ppm],COOK AND PHILLIP OZONE 1h average [pphm],COOK AND PHILLIP OZONE 4h rolling average [pphm],COOK AND PHILLIP PM10 1h average [µg/m³],COOK AND PHILLIP PM2.5 1h average [µg/m³],COOK AND PHILLIP HUMID 1h average [%],COOK AND PHILLIP NEPH 1h average [bsp],COOK AND PHILLIP SD1 1h average [°],COOK AND PHILLIP CO 8h rolling average [ppm]
2,01/01/2011,01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2011,02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2011,03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN